<!DOCTYPE HTML>
<html>
<head>
<% include partials/header %>
<title>红包</title>
</head>
<body>
<section>
  <div class="crp-section-header">信息设置（1/3）</div>
  <div class="crp-section-header crp-section-subheader">索取发票及大额充值联系客服微信：adjadk</div>
  <div class="weui_cells weui_cells_form mt-0">
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">商家名称</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" id="publisherName" type="text" maxlength="6" value="<%= redPacket.publisherName || ''  %>" placeholder="品牌名、公司名，不超过6个字">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">联系方式</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" type="number" id="publisherPhoneNumber" pattern="[1-9][0-9]*" value="<%= redPacket.publisherPhoneNumber || ''  %>" placeholder="电话或手机号码">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">商家头像</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <div class="upload-image-box">
          <img class="uploadImageControl" data-field="publisherAvatar" src="<%= redPacket.publisherAvatar || '/public/images/add-icon.jpg' %>">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="crp-section-header">营销活动设置（2/3）</div>
  <div class="weui_cells weui_cells_form mt-0 pb-10">
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">活动标题</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" type="text" id="redPacketTitle" value="<%= redPacket.title || ''  %>" placeholder="分享到微信后显示的标题">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">到期时间</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" id="invalidDate" value="<%= (redPacket.invalidDate || '').replace(/\//g, '-')  %>" type="date">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">活动图片</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <div class="upload-image-box">
          <img class="uploadImageControl" data-field="redPacketImage" src="<%= redPacket.adImage || '/public/images/add-icon.jpg' %>">
        </div>
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">跳转链接</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" type="text" id="adLink" value="<%= redPacket.adLink || ''  %>" placeholder="点击图片跳转，违法内容将举报至公安机关">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="crp-section-header">红包金设置（3/3）</div>
  <div class="weui_cells weui_cells_form mt-0 pb-10">
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">红包总额(元)</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" type="number" id="totalMoney" pattern="[1-9][0-9]*" value="<%= redPacket.totalMoney ? redPacket.totalMoney / 100.0 : '' %>" placeholder="超过500元请联系客服微信：adiadk">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd"><label class="weui_label">发放份数</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input" type="number" id="count" pattern="[1-9][0-9]*" value="<%= redPacket.count || ''  %>" placeholder="人均红包不得低于0.3元">
      </div>
    </div>
  </div>
  <div class="weui_cells_tips mb-10">红包为随机结果，人均红包不得低于0.3元</div>
</section>

<div class="mt-20 rp-bottom-btns">
  <a class="rp-bottom-btn rp-bottom-left-btn"  href="javascript:" data-id="<%= redPacket.id || ''  %>" id="crp-preview-btn">预览</a>
  <a class="rp-bottom-btn rp-bottom-right-btn"  href="javascript:" data-id="<%= redPacket.id || ''  %>" id="crp-pay-btn">支付并发布</a>
</div>

<% include partials/message-box %>
</body>

<script src="/public/js/zepto.min.js"></script>
<% include partials/register-wechat-api %>
<% include partials/hide-wechat-menu %>
<script src="/public/js/create-red-packet.js"></script>
</html>
