<!DOCTYPE HTML>
<html>
<head>
<% include partials/header %>
<title>红包</title>
</head>
<body>
<section class="container" id="rp-overview" style="display: <%= preview ? 'none' : 'block'%>">
  <div class="rp-container">
    <img src="/public/images/red-packet.jpg">
    <div class="open-rp-btn">拆开红包</div>
  </div>
</section>

<section id="rp-details" style="display: <%= !preview ? 'none' : 'block'%>">
  <div class="rp-ad-container">
    <img src="/public/images/ad.png" >
  </div>
  <div class="rp-money-message">羡慕，辣眼睛！您获得了<span id="rd-money"><%= money == 'X' ? 'X' : money / 100.0 %>元</span>红包</div>
  <div id="rp-status-message"> 已有<%= redPacket.count - redPacket.leftCount %>人获得  丨  赏金剩余<%= redPacket.leftMoney / 100.0 %>元</div>

  <% if(preview) { %>
    <% if(redPacket.status == 1 ) { %>
      <a class="crp-bottom-btn"  href="/rp/update/<%= redPacket.id %>">返回编辑</a>
    <% } else { %>
      <a class="crp-bottom-btn"  href="/rp/details/<%= redPacket.id %>">查看实时数据</a>
    <% } %>
  <% } else { %>
    <div class="rp-bottom-btns">
      <a class="rp-bottom-btn rp-bottom-left-btn"  href="javascript:">与好友分享</a>
      <a class="rp-bottom-btn rp-bottom-right-btn"  href="/user/wallet">我的钱包</a>
    </div>
   <% } %>
</section>
<% include partials/message-box %>
</body>
<script src="/public/js/zepto.min.js"></script>
<% include partials/register-wechat-api %>
<% include partials/hide-wechat-menu %>
<script src="/public/js/red-packet.js"></script>
</html>
